<%= form_with model: @contacto, local: true do |form| %>

  <% if @contacto.errors.any? %>
    <div id="error_explanation">
      <h2>
        Corregir <%= pluralize(@contacto.errors.count, "error") %> para continuar:
      </h2>
      <ul>
        <% @contacto.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Nombre %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :Correo %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit :Guardar %>
  </p>

<% end %>
